.footer {
  width: 100%;
  background-color: black;
  padding: 20px 0;
}

.footer_content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer_copy {
  color: rgb(180, 180, 180);
  font-size: 12px;
  margin-bottom: 10px;
}

.footer_beian {
  font-size: 12px;
}

.footer_beian a {
  color: rgb(180, 180, 180);
  text-decoration: none;
}

.footer_beian a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1220px) {
  .footer_content {
    width: 100%;
    padding: 0 20px;
  }
}